* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
  }

body {
    background-color: #F8F9FA;
}

*, .primaryTextColor {
    color: #212529;
}

.mutedTextColor {
    color: #6C757D;
}

.accentText {
    color: #0D6EFD;
    font-family: Pacifico;
}

.accentBgColor {
    background-color: #0D6EFD;
}

.borderCard {
    border: 1px solid #343A40
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 2px 0px black;
}

nav > .innerContainer {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1 {
    font-size: 1.5rem;
}

.navRight > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: medium;
    font-weight: 500;
}

.mainHero {
    /* box-shadow: inset 0px 0px 2px 0px black; */
    padding: 2rem 12rem;
}

.mainHero > .innerContainer {
    font-size: x-large;
    display: flex; 
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.homepageButton {
    height: 2.5rem;
    width: 10rem;
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px black;
    font-size: medium;
    font-weight: 500;
}

.homepageButton:hover {
    box-shadow: 0px 0px 2px 0px black;
}

.homepageButton:active {
    box-shadow: inset 0px 0px 3px 0px black;
}

.mainHero img {
    height: auto;
    width: 15rem;
}

.whoIAm {
    background-color: white;
    padding: 2rem 12rem;
    box-shadow: 0px 0px 2px 0px black;
}

.whoIAm > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.whoIAmContent, .whatIDoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.whoIAmContent > img {
    height: auto;
    width: 12rem;
}

.whoIAmContent p, .whatIDoContent p {
    font-size: large;
}

.buttonAlignRight {
    display: flex;
    justify-content: end;
}

.whatIDo {
    padding: 2rem 12rem;
    /* box-shadow: inset 0px 0px 2px 0px black; */
}

.whatIDo > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.whatIDoContent > img {
    height: auto;
    width: 15rem;
}

.craftedWith {
    background-color: white;
    padding: 2rem 12rem;
    box-shadow: 0px 0px 2px 0px black;
}

.craftedWith > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.craftedWithContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 10rem;
}

.craftedWithContent img {
    height: auto;
    width: 5rem;
}

.contactUs {
    /* box-shadow: inset 0px 0px 2px 0px black; */
    padding: 2rem 20rem;
}

.contactUs > .innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactUs img {
    height: auto;
    width: 15rem;
}

.contactUs ul {
    text-decoration: none;
    list-style: none;
}

.contactUs li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contactUs ul img {
    height: auto;
    width: 2rem;
}

.innerContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .mainHero, .whoIAm, .whatIDo, .craftedWith, .contactUs {
        padding: 2rem 6rem;
    }

    .whoIAmContent, .whatIDoContent {
        gap: 3rem;
    }

    .craftedWithContent {
        gap: 2rem 5rem;
    }

    .mainHero p {
        font-size: large;
    }
}

@media (max-width: 800px) {
    .mainHero, .whoIAm, .whatIDo, .craftedWith, .contactUs {
        padding: 2rem 3rem;
    }

    .contentContainer p {
        font-size: medium;
    }

    .innerContainer {
        display: flex;
        flex-direction: column;
    }

    .mainHero .innerContainer {
        flex-direction: column-reverse;
    }

    .mainHero > .innerContainer {
        font-size: large;
    }

    .whoIAmContent, .whatIDoContent {
        gap: 1rem;
    }

    .whoIAmContent > img {
        width: 8rem;
    } 
    
    .whatIDoContent > img {
        width: 8rem;
    }

    .craftedWithContent {
        grid-template-columns: 1fr 1fr;
    }
}