* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", sans-serif;
}

input, textarea, select {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
  }

body {
    background-color: #F8F9FA;
}

.whiteFooter {
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

*, .primaryTextColor {
    color: #212529;
}

.mutedTextColor {
    color: #6C757D;
}

.accentText {
    color: #0D6EFD;
    font-family: Pacifico;
}

.accentBgColor {
    background-color: #0D6EFD;
}

.borderCard {
    border: 1px solid #343A40
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.25rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav button {
    display: none;
}

nav > .innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1 {
    font-size: 1.5rem;
}

.navRight > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: medium;
    font-weight: 500;
}

.mainHero {
    padding: 2rem 12rem;
}

.mainHero > .innerContainer {
    font-size: larger;
    display: flex; 
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.mainHero > .innerContainer > .contentContainer > div > p > span {
    display: inline-block;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.mainButton {
    height: 2.5rem;
    width: 10rem;
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton:hover {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.mainButton:active {
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.mainHero img {
    height: auto;
    width: 15rem;
}

.whoIAm {
    background-color: white;
    padding: 2rem 12rem;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

.whoIAm > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.whoIAmContent, .whatIDoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.whoIAmContent > img {
    height: auto;
    width: 12rem;
}

.whoIAmContent p, .whatIDoContent p {
    font-size: large;
}

.buttonAlignRight {
    display: flex;
    justify-content: end;
}

.buttonAlignLeft {
    display: flex;
    justify-content: start;
}

.whatIDo {
    padding: 2rem 12rem;
}

.whatIDo > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.whatIDoContent > img {
    height: auto;
    width: 15rem;
}

.craftedWith {
    background-color: white;
    padding: 2rem 12rem;    
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.10);
}

.craftedWith > .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.craftedWithContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 10rem;
}

.craftedWithContent img {
    height: auto;
    width: 5rem;
}

footer {
    padding: 2rem 12rem 0rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    text-align: end;
    font-size: small;
    padding: 0.75rem 0;
    max-width: 1400px;
    width: 100%;
}

footer > .innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer > .innerContainer > img {
    height: auto;
    width: 15rem;
}

footer ul {
    text-decoration: none;
    list-style: none;
}

footer li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer ul img {
    height: auto;
    width: 2rem;
}

.innerContainer {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .mainHero, .whoIAm, .whatIDo, .craftedWith {
        padding: 2rem 6rem;
    }

    footer {
        padding: 2rem 6rem 0 6rem;
    }

    .whoIAmContent, .whatIDoContent {
        gap: 3rem;
    }

    .craftedWithContent {
        gap: 2rem 5rem;
    }
}

@media (max-width: 800px) {
    .mainHero, .whoIAm, .whatIDo, .craftedWith {
        padding: 2rem 3rem;
    }

    footer {
        padding: 2rem 3rem 0 3rem;
    }

    footer h2 {
        font-size: larger;
    }

    footer a {
        font-size: small;
    }

    .contentContainer p {
        font-size: medium;
    }

    .innerContainer {
        display: flex;
        flex-direction: column;
    }

    footer .innerContainer {
        flex-direction: row;
    }

    nav button {
        display: block;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0.6rem;
        left: 0.5rem;
        border: none;
        background-color: white;
    }

    nav button img {
        height: auto;
        width: 100%;
        filter: invert(33%);
    }

    #dropdownMenuContainer {
        background-color: white;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.33);
        padding: 1.5rem;
        border-radius: 15px;
        flex-direction: column;
        display: none;
        position: absolute;
        top: 3rem;
        left: 0.5rem;
    }

    .mainHero .innerContainer {
        flex-direction: column-reverse;
    }

    .mainHero > .innerContainer {
        font-size: large;
    }

    .whoIAmContent, .whatIDoContent {
        gap: 1rem;
    }

    .whoIAmContent > img {
        width: 8rem;
    } 
    
    .whatIDoContent > img {
        width: 8rem;
    }

    .craftedWithContent {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    footer .innerContainer {
        flex-direction: column;
    }

    .copyright {
        text-align: center;
    }

    footer {
        padding-top: 1rem;
    }

    footer .innerContainer > .contentContainer {
        gap: 1rem;
    }

    footer .innerContainer > .contentContainer > div {
        justify-content: center;
    }

    footer .innerContainer > img {
        width: 10rem;
    } 

    .copyright {
        padding: 0.5rem 0;
        font-size: x-small;
    }
}

/* Animations */

@keyframes appear {
    to {
        opacity: 1;
        transform: translate(0);
        transform: scaleY(1);
    }
}

.mainHero > .innerContainer > .contentContainer > div > h1 {
    opacity: 0;
    transform: translateX(-100%);
    animation: appear 1s ease forwards;
    animation-delay: 0.5s;
}

.mainHero > .innerContainer > img, .whoIAm > .innerContainer, .whatIDo > .innerContainer, .craftedWith > .innerContainer {
    opacity: 0;
    animation: appear 1s ease-in forwards;
    animation-delay: 0.5s;
}

.whoIAm > .innerContainer, .whatIDo > .innerContainer, .craftedWith > .innerContainer {
    opacity: 0;
    animation: appear 1s ease forwards;
    animation-delay: 1.5s;
}

.mainHero > .innerContainer > .contentContainer > div > h3 {
    opacity: 0;
    transform: translateX(-100%);
    animation: appear 1s ease forwards;
    animation-delay: 1.5s;
}

#cleanCode {
    opacity: 0;
    transform: translateY(100%);
    animation: appear 1s ease forwards;
    animation-delay: 2.5s;
}

#sleekDesign {
    opacity: 0;
    transform: translateY(100%);
    animation: appear 1s ease forwards;
    animation-delay: 3.5s;
}

#realResults {
    opacity: 0;
    transform: translateY(100%);
    animation: appear 1s ease forwards;
    animation-delay: 4.5s;
}

.mainHero > .innerContainer > .contentContainer > .mainButton {
    opacity: 0;
    animation: appear 0.5s ease forwards;
    animation-delay: 5.5s;
}

#dropdownMenuButton:active {
    transform: scale(0.9);
}

#dropdownMenuContainer.visible {
    display: flex;
    opacity: 0;
    transform: scaleY(0.1);
    transform-origin: top;
    animation: appear 0.33s ease forwards;
}

/* About */

.myStory {
    padding: 2rem 3rem;
}

.myStory p {
    font-size: medium;
}

.myStory .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.myStory .upperContent {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.myStoryImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myStory img {
    height: 15rem;
    width: 15rem;
    border-radius: 500px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.myStory .upperContentRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.myStory li {
    margin-left: 2rem;
    list-style: none;
    margin-bottom: 0.25rem;
    margin-right: 2rem;
}

.semiBoldText {
    font-weight: 500;
}

.myStoryTextLink {
    text-decoration: underline;
    color: #0D6EFD;
}

@media (max-width: 1200px) {

    .myStory .upperContent {
        gap: 3rem;
    }

    .myStory p, .myStory li {
        font-size: small;
    }
    .myStory li {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
    }
}

@media (max-width: 800px) {
    .myStory {
        padding: 2rem;
    }

    .myStory .innerContainer {
        padding: 2rem;
    }

    .myStory img {
        width: 10rem;
        height: 10rem;
    }

    .myStory .upperContent {
        flex-direction: column;
        gap: 1rem;
    }

    .myStoryImgContainer {
        flex-direction: row;
    }

    .myStory h1 {
        text-align: center;
    }
}

/* My Work */

.myWork {
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.myWork h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75.29px;
}

.clickMe {
    font-family: Gloria Hallelujah; 
    font-size: small;
}

.myWork h1 a > img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.5s ease 0s;
}

.myWork h1 a > img:hover {
    transform: rotate(1080deg) scale(1.2);
}

.myWork h1 > img {
    height: 1.5rem;
    width: auto;
    position: relative;
    top: -0.5rem;
    right: -0.25rem;
}

.clickMe {
    position: relative;
    top: -1rem;
    right: -0.5rem;
}

.myWork .innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.myWork > .innerContainer > a > div {
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-out 0s;
}

.myWork .innerContainer > a > div:hover {
    transform: scale(1.05);
}

.myWork img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.imgBoxShadow {
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1000px) {
    .myWork {
        gap: 1rem;
    }

    .myWork .innerContainer {
        gap: 1.5rem;
    }

    .myWork .innerContainer {
        font-size: small;
    }

    .myWork .innerContainer > a > div {
        gap: 0.5rem;
    }
}

@media (max-width: 800px) {
    .myWork .innerContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .myWork .innerContainer > a > div {
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    .myWork .innerContainer {
        grid-template-columns: 1fr;
    }
    .myWork .innerContainer > a > div {
        padding: 1.5rem;
    }

    .clickMe {
        font-size: x-small;
    }

    .myWork h1 {
        font-size: larger;
    }

    .myWork h1 a img {
        height: 2rem;
    }

@media (max-width: 400px) {
    .myWork {
        padding: 1rem 2rem 2rem 2rem;
        gap: 0.75rem;
    }

    .myWork .innerContainer > a > div {
        padding: 1rem;
    }
}
}

.contactUs, .thankYou {
    padding: 2rem 5rem;
}

.contactUs .innerContainer, .thankYou .innerContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contactUsImg {
    display: flex;
    justify-content: end;
    align-items: center;
}

.contactUsImg img {
    height: auto;
    width: 75%;
}

.contactUs h1 {
    margin-bottom: 2rem;
}

.contactUs form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactUs form > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contactUs form input {
    background-color: white;
    border: none;
    box-shadow: inset 0px 0px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    width: 300px;
}

.contactUs form textarea {
    background-color: white;
    border: none;
    box-shadow: inset 0px 0px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    width: 40vw;
    height: 100px;
    max-width: 600px;
}

.contactUs button {
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    .contactUsImg > img {
        width: 90%;
    }
}

@media (max-width: 800px) {

    .contactUs, .thankYou {
        padding: 2rem 4rem;
    }
    .contactUs .innerContainer, .thankYou .innerContainer {
        flex-direction: row;
        gap: 1rem;
    }

    .contactUs h1 {
        font-size: larger;
    }
}

@media (max-width: 760px) {
    .contactUs h1 {
        text-align: center;
    }

    .contactUsImg {
        display: none;
    }

    .contactUs .innerContainer, .thankYou .innerContainer {
        justify-content: center;
    }

    .contactUs form textarea {
        width: 100%;
    }

@media (max-width: 450px) {
    .contactUs h1{
        font-size: large;
    }
}

@media (max-width: 350px) {
    .contactUs h1{
        font-size: medium;
    }

    .contactUs form label {
        font-size: small;
    }
    .contactUs form input {
        width: 275px;
    }
}
}

.thankYou {
    padding: 0 10rem;
}

.thankYouBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.thankYou .innerContainer {
    justify-content: space-around;
}

.thankYou .innerContainer .contentContainer {
    justify-content: space-around;
}

.thankYou a {
    font-size: small;
}

.thankYouBody footer {
    padding: 0;
}

.thankYouBody .contactUsImg img {
    width: 20rem;
}

.thankYouBody .copyright {
    text-align: center;
}

@media (max-width: 1200px) {
    .thankYou {
        padding: 0 5rem;
    }

    .thankYouBody .contactUsImg img {
        width: 15rem;
    }
}

@media (max-width: 800px) {
    .thankYou {
        padding: 0 2.5rem;
    }

    .thankYouBody .contactUsImg img {
        width: 10rem;
    }
    
    .thankYou h1, .thankYou h2 {
        font-size: large;
    }
}

@media (max-width: 760px) {
    .thankYouBody .contactUsImg {
        display: block;
    }
    
}

@media (max-width: 550px) {
    .thankYou .innerContainer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }
}